body {
  margin: 0;
  background: #fff;
}
a {
  display: block;
}
li {
  list-style: none;
}
input {
  padding-left: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
span {
  display: block;
}
img {
  display: block;
  object-fit: cover;
}

h2 {
  margin: 0;
}
